.spin {
  animation: spin 9s infinite linear;
  transition: opacity 0.5s, transform 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #ffd5a2;
}

.site-title.navbar a {
  text-decoration: none;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  left: 20%;
}

.menu-btn .bar {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
  top: calc(50% - 9px);
}

.menu-btn .bar:nth-of-type(3) {
  top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-of-type(1) {
  display: none;
}

.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #fff5e9;
  display: none;
}

.nav.fade-in-text {
  animation: fadeIn 1s;
}

.nav.active {
  transform: translateX(0);
  z-index: 100;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/images/hibiscus_footer.png);
  background-repeat: no-repeat;
  background-position-x: 82vw;
  background-position-y: 70vh;
  background-size: 500px;
}

/* logo burger menu */
.logo-menu {
  left: 42%;
  width: 18%;
}

.img-bottom {
  left: 47%;
  width: 10%;
  margin-top: 46px;
}

/* disposition fleurs et chats menu */
.img-menu {
  position: absolute;
}

.orchid-menu {
  left: -59px;
  top: 152px;
}

.Kawaneko-menu {
  top: 225px;
  left: 267px;
  width: 109px;
}

.flower-menu {
  top: 450px;
  left: 213px;
  width: 70px;
}

.sunflower-menu {
  width: 190px;
  height: 190px;
  top: 169px;
  left: 1039px;
}

.random-flower-menu {
  width: 75px;
  height: 74.53px;
  top: 385px;
  right: -36px;
}

.jaakuna-menu {
  width: 130px;
  height: 130px;
  top: 440px;
  right: 200px;
}

.orenjiiro-menu {
  width: 90px;
  height: 85px;
  bottom: 40px;
  left: 79px;
}

.nav__list ul {
  padding-top: 20px;
}

.nav .nav__list_item {
  list-style-type: none;
  text-align: center;
  font-size: 50px;
  line-height: 2em;
}

.nav .nav__link:hover {
  text-shadow: 0 0 11px #ff5c00;
}